<div layout="column" layout-padding>
The product your selected is:
<form>
    Product name:
    <input type="text" ng-model="productDetails.product.name" /> Product price:
    <input type="text" ng-model="productDetails.product.price" /> Public Product?
    <input type="checkbox" ng-model="productDetails.product.public">
    <button ng-click="productDetails.save()">Save</button>
    <ul>
        Users:
        <li ng-repeat="user in productDetails.users">
            <div>{{ user.emails[0].address }}</div>
        </li>
    </ul>
</form>
<a ui-sref="products">back</a>
</div>